<aside>
      <h3><%= @user.name %></h3>
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
</aside>
    <ul>
      <li><a href="#">tasklist</a></li>
    </ul>
